<?xml version="1.0" encoding="utf-8"?>
<configuration>

<configSections>
</configSections>
<connectionStrings>
    <add name="SupplymentFacts.Properties.Settings.SFPConnectionString"
        connectionString="Data Source=(local);Initial Catalog=SFP;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="SupplymentFacts.Properties.Settings.ECartDBConnectionString"
        connectionString="Data Source=(local);Initial Catalog=ECartDB;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
