@{
    ViewBag.Title = "About";
}
<div class="text-center">
    <h2 class="display-4">CEO: Nguyen Duy Tuan</h2>
    <h2 class="display-4">STUDENT ID: 520K0232</h2>
    <h2 class="display-4">CEO:Trinh Bao Toan</h2>
    <h2 class="display-4">STUDENT ID: 520K0332</h2>
    
</div>