@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Landmark 81<br />
    District Binh Thanh, Ho Chi Minh City<br />
    <abbr title="Phone">Phone Number:088889991</abbr>
</address>

<address>
    <strong>Support:</strong><a href="mailto:520k0232@student.tdtu.edu.vn">Nguyen Duy Tuan</a><br />
    <strong>Provide:</strong><a href="mailto:520k0332@student.tdtu.edu.vn">Trinh Bao Toan</a>
</address>