@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Supplement Facts Products.</h1>
    <p>DOUBLE T CO-OPERATION</p>
    <img src="~/Images/Health.png" width="1000" height="500" alt="SFP"/>
</div>